In [1]:
import pandas as pd

In [2]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [27]:
eventos = {
    'm1': list(m1), 
    'm2': list(m2), 
    'm3': list(m3), 
    'm4': list(m4), 
    'm5': list(m5)
}

moedas = pd.DataFrame(eventos)

df = pd.DataFrame(index = ['Cara', 'Coroa'])
df.index.name = 'Faces'

for item in moedas:
    cara_e_coroa_value_count = moedas[item].value_counts()
    df = pd.concat([df, cara_e_coroa_value_count.rename({'C':'Coroa','c':'Cara'})], axis = 1)
df

       m1  m2  m3  m4  m5
Cara   25  26  19  23  25
Coroa  25  24  31  27  25