# Gerador de tabela de Punnet! 
> Ainda não consegui fazer funcionar direito

## Gerador

In [1]:
import pandas as pd

In [2]:
def get_binary_in_bytes(bytes: int):
    max_value_in_bytes = 0
    binary_numbers = []

    for i in range(bytes):
        max_value_in_bytes += 2 ** i

    for i in range(max_value_in_bytes + 1):
        # Turns number to binary, remove the '0b' from the beggining and pad the start with zeros
        binary_numbers.append(bin(i)[2:].zfill(bytes))

    return binary_numbers

In [3]:
def get_allele_combinations(alleles_number: int):
    binary_combinations = get_binary_in_bytes(alleles_number)
    allele_combinations = []

    for combination in binary_combinations:
        letter_combination = ''
        
        for char_index, char in enumerate(combination):
            code_point = {
                '1':'@',
                '0':'`'
            }
            letter_combination += chr(ord(code_point[char]) + int(char_index + 1))

        allele_combinations.append(letter_combination)

    return allele_combinations

In [4]:
def get_punnet_table(alleles_number: int):
    if alleles_number < 2:
        return pd.DataFrame({'a':['aa','aA'],'A':['Aa','AA']},index=['a','A'])

    alleles = pd.Series(get_allele_combinations(alleles_number))

    punnet_table = pd.DataFrame(data=alleles.str.join(alleles.str).to_list())
    punnet_table.index = alleles
    punnet_table.columns = alleles

    return punnet_table

## Geração

In [5]:
get_punnet_table(1)

    a   A
a  aa  Aa
A  aA  AA

In [6]:
get_punnet_table(2)

      ab    aB    Ab    AB
ab  aabb  aabB  Aabb  AabB
aB  aaBb  aaBB  AaBb  AaBB
Ab  aAbb  aAbB  AAbb  AAbB
AB  aABb  aABB  AABb  AABB

In [7]:
# Not working right
get_punnet_table(3)

,abc,abC,aBc,aBC,Abc,AbC,ABc,ABC
abc,aabcbabcc,aabcbabcC,aabcBabcc,aabcBabcC,Aabcbabcc,AabcbabcC,AabcBabcc,AabcBabcC
abC,aabCbabCc,aabCbabCC,aabCBabCc,aabCBabCC,AabCbabCc,AabCbabCC,AabCBabCc,AabCBabCC
aBc,aaBcbaBcc,aaBcbaBcC,aaBcBaBcc,aaBcBaBcC,AaBcbaBcc,AaBcbaBcC,AaBcBaBcc,AaBcBaBcC
aBC,aaBCbaBCc,aaBCbaBCC,aaBCBaBCc,aaBCBaBCC,AaBCbaBCc,AaBCbaBCC,AaBCBaBCc,AaBCBaBCC
Abc,aAbcbAbcc,aAbcbAbcC,aAbcBAbcc,aAbcBAbcC,AAbcbAbcc,AAbcbAbcC,AAbcBAbcc,AAbcBAbcC
AbC,aAbCbAbCc,aAbCbAbCC,aAbCBAbCc,aAbCBAbCC,AAbCbAbCc,AAbCbAbCC,AAbCBAbCc,AAbCBAbCC
ABc,aABcbABcc,aABcbABcC,aABcBABcc,aABcBABcC,AABcbABcc,AABcbABcC,AABcBABcc,AABcBABcC
ABC,aABCbABCc,aABCbABCC,aABCBABCc,aABCBABCC,AABCbABCc,AABCbABCC,AABCBABCc,AABCBABCC